@import "../vars";
.mbtn {
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all ease-out .225s;
    padding: 0;
    &:focus {
        box-shadow: none;
    }
}

.mbtn-green{
    background: linear-gradient(269.7deg, #20BF55 1.35%, #01BAEF 99.74%);
    color: #fff;
    &:hover{
        color: #fff;
    }
}

.mbtn-black-outline{
    border: 3px solid $black;
    border-radius:  0.6em;
    color: $black;
    &:hover{
        background-color: $black;
        color: #fff;
    }
}

.mbtn-black{
    box-shadow: 0px 0px 10px rgba(28, 146, 255, 0.25);
    background-color: $black;
    color: #fff;
    &:hover{
        color: #fff;
        box-shadow: 0px 0px 10px rgba(28, 146, 255, 0.75);
    }
}

.mbtn-white{
    background: #FFFFFF;
    color: #8D2A8A;
    &:hover{
        box-shadow: 0px 0px 10px rgba(28, 146, 255, 0.75);
        color: #8D2A8A;
    }
}

.mbtn-linear{
    color: #fff;
    background: linear-gradient(100.42deg, #844AFF -4.08%, rgba(245, 135, 255, 0.867813) 52.13%, rgba(255, 224, 196, 0.797735) 89.42%, rgba(255, 255, 255, 0.73) 112.47%);
    &:hover{
        color: #fff;
        box-shadow: 0px 0px 10px rgba(28, 146, 255, 0.75);
    }
}

.arrow-right{
    position: relative;
    &__icon{
        opacity: 0;
        margin-left: 5px;
        transform: translateX(0.6em);
        transition: all .1s;
    }
    &__text{
        transition: all .1s;
        transform: translateX(0.7em);
    }
    &:hover{
        .arrow-right{
            &__icon{
                opacity: 1;
                transform: translateX(0);
            }
            &__text{
                transform: translateX(0);
            }
        }

    }
}


.hidden{
    display:none;
}

.mbtn-white-outline{
    border: 2px solid #FFFFFF;
    color: #fff;
    &:hover{
        background-color: #fff;
        color: $black;
    }
}
