@import "../vars";
.main{
  margin-top: -.5em;
  &__inner{
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    position: relative;
  }
  &__img{
    position: absolute;
    display: block;
    width: 35%;
    left: 52%;
    top: 50%;
    transform: translate(-60%,-50%);
    z-index: 2;
    img{
      width: 100%;
    }
    .swiper{
      &-slide{
        &:not(.swiper-slide-active){
          opacity: 0 !important;
        }
      }
    }
  }
  &__left{
    width: 34%;
    height: auto;
  }
  &__right{
    width: 51%;
    height: auto;
    border-radius:  0.6em;
    padding: 6.2em 3.3em 3.2em 16.5em;
    background: #202020;
    position: relative;
    color: #fff;
    &::before{
      content: '';
      position: absolute;
      height: 100%;
      width: 10%;
      background-image: url(../img/grad.png);
      background-size: cover;
      left: 0;
      top: 0;
    }
  }
  &__title{
    font-weight: 800;
    font-size: 5.5em;
    line-height: 108%;
    &-text{
      position: relative;
      z-index: 2;
    }
    &-word{
      display: inline;
      .swiper-container{
        display: inline;
        overflow: hidden;
      }
    }
  }
  &__desc{
    font-size: 1.53em;
    line-height: 137.5%;
    margin-top: 2.9em;
    max-width:24em;
    width: 100%;
    p{
      line-height: inherit;
      &:not(:last-child){
        margin-bottom: 1.4em;
      }
    }
  }
  &__art{
    margin-top: 4.4em;
    &-title{
      font-size: 1.53em;
      line-height: 169%;
      font-family: $font3;
      font-weight: 400;
    }
    &-items{
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-top: 0.91em;
      overflow: hidden;
      .swiper-wrapper{
        align-items: stretch;
      }
    }
    &-img{
      height: auto;
      width: unset;
      display: flex;
      align-items: center;
      img{
        max-width: 100%;
        max-height: 3em;
      }
      margin-right: .8em !important;
    }
  }
  &__top{
    padding: 0 2em 0 0;
  }
  &__list{
    margin-top: 2.5em;
    max-width: 30em;
    li{
      font-size: 1.5em;
      line-height: 125%;
      position: relative;
      display: flex;
      &:not(:last-child){
        margin-bottom: 2em;
      }
    }
    &-icon{
      width: 2.2em;
      flex-shrink: 0;
      margin-right: 1em;
      img{
        width: 100%;
      }
    }
  }
  &__btn{
    font-family: $font3;
    font-weight: 700;
    font-size: 1.85em;
    height: 3.1em;
    width: 100%;
    border-radius:  0.5em;
    flex-shrink: 0;
    margin-top: 3.5em;
  }
}

.adv{
  overflow: hidden;
  padding: 13.3em 0 0;
  .swiper-wrapper {
    -webkit-transition-timing-function: linear !important;
    transition-timing-function: linear !important;
  }
  &__slider{
    margin-bottom: 2.4em;
    pointer-events: none;
    &:nth-child(even){
      transform: translateX(10%);
    }
  }
  &__item{
    width: unset;
    background: #262626;
    border-radius: .74em;
    color: #fff;
    font-weight: 800;
    font-size: 3.7em;
    height: 3.325em;
    padding: 0 .96em;
    display: flex;
    align-items: center;
    img{
      flex-shrink: 0;
      margin-right: .7em;
      max-width: 1.8em;
      height: auto;
    }
    &:hover{
      color: #fff;
    }
  }
}

.find{
  padding: 12em 0 4em;
  &__question{
    text-align: center;
    font-weight: 500;
    span{
      font-weight: 800;
      color: inherit;
      font-size: 1.5em;
      line-height: 95%;
    }
  }
  &__title{
    text-align: center;
    margin-top: 1.7em;
    font-weight: 800;
    font-size: 5.5em;
    line-height: 108%;
  }
  &__num{
    text-align: center;
    font-size: 18.215em;
    line-height: 136%;
    background: linear-gradient(90.1deg, rgba(0, 117, 255, 0.33) 26.15%, #D860D3 65.65%), rgba(45, 30, 135, 0.58);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
    text-shadow: 0px 0px #00000000;
    font-weight: 800;
  }
  &__desc{
    max-width: 40em;
    font-size: 1.53em;
    line-height: 137.5%;
    margin: 2.2em auto 0;
    text-align: center;
    font-weight: 500;
    font-family: $font3;
    span{
      color: $red;
    }
  }
  &__search{
    position: relative;
    input{
      border: none;
      border-radius: .62em;
      font-size: 3.65em;
      width: 100%;
      height: 3.4em;
      padding: 0 1em 0 3.12em;
      background-image:  url(../img/search-icon3.png), linear-gradient(269.7deg, #20BF55 1.35%, #01BAEF 99.74%);
      background-repeat: no-repeat;
      background-position: left 1.1em center, left top;
      background-size: 1.28em auto, cover;
      color: #FFFFFF;
      &::placeholder{
        color: #FFFFFF;
      }
    }
    &-btn{
      font-family: $font3;
      font-weight: 700;
      font-size: 1.85em;
      height: 3.1em;
      width: 11.7em;
      border-radius:  0.5em;
      flex-shrink: 0;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      right: 1em;
    }
    &-link{
      position: absolute;
      left: 21em;
      top: 50%;
      transform: translateY(-50%);
      font-size: 1.85em;
      font-family: $font3;
      border-radius: .5em;
      height: 2.2em;
      padding: 0 3em;
      &:hover{
        opacity: .9;
      }
    }
  }
  &__brands{
    margin: 2.4em auto 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    overflow: hidden;
    &-img{
      img{
        max-width: 100%;
      }
      &:not(:last-child){
        margin-right: .8em;
      }
    }
    .swiper-wrapper{
      align-items: stretch;
    }
    .swiper-slide{
      height: auto;
      width: unset;
      margin-right: .8em !important;
      img{
        max-height: 3em;
      }
    }
  }
  &__btn{
    font-size: 1.9em;
    margin: 4em auto 0;
    width: 18.5em;
    height: 3em;
    border-radius: .5em;
    font-weight: 800;
  }
}

.why-choose{
  padding: 7em 0;
  &__items{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 7em 5.2em;
  }
  &__item{
    position: relative;
  }
  &__icon{
    max-width: 6em;
    margin-bottom: 4.2em;
    display: block;
  }
  &__desc{
    font-size: 1.5em;
    line-height: 125%;
    margin-top: 3em;
    font-family: $font3;
    font-weight: 400;
  }
}

.support{
  padding: 9em 0;
  overflow: hidden;
  &__title{
    text-align: center;
    font-weight: 800;
    font-size: 5.5em;
    line-height: 108%;
  }
  &__slider{
    margin-top: 6em;
  }
  .swiper{
    @media screen and (min-width: 576px){
      &-wrapper{
        display: grid;
        grid-template-columns: repeat(5,1fr);
        gap: 30px;
        transform: unset !important;
      }
    }
    &-slide{
      height: auto;
      display: flex;
      align-items: center;
      justify-content: center;
      max-height: 10em;
      img{
        max-height: 100%;
        max-width: 100%;
      }
    }
  }
  &__btn{
    font-size: 1.9em;
    margin: 1.53em auto 0;
    width: 18.5em;
    height: 3em;
    border-radius: .5em;
    font-weight: 800;
  }
}

.join{
  padding: 5em 0;
  &__inner{
    display: flex;
    align-items: center;
    border-radius: .9em;
  }
  &__text{
    display: flex;
    align-items: center;
    max-width: 42em;
    flex-shrink: 0;
  }
  &__btn{
    font-family: $font3;
    font-weight: 700;
    font-size: 1.85em;
    height: 3.1em;
    width: 11.0em;
    border-radius:  0.5em;
    flex-shrink: 0;
    margin-left: 1.25em;
  }
  &__input{
    flex-grow: 1;
    height: 5.7em;
    margin-left: 1em;
    input{
      font-size: 2em;
      height: 100%;
      padding: 0 1.46em;
      border: 3px solid $black;
      color: $black;
      &::placeholder{
        color: $black;
      }
    }
  }
}

@media screen and (max-width: 576px){
  .main{
    margin-top: 20px;
    &__title{
      font-size: 40px;
    }
    &__inner{
      display: block;
    }
    &__left{
      width: 100%;
    }
    &__right{
      width: 100%;
      padding:37px 22px 22px;
      margin-top: 58px;
      &::before{
        display: none;
      }
    }
    &__desc{
      max-width: 100%;
      font-size: 16px;
      line-height: 150%;
      margin-top: 20px;
      p{
        &:not(:last-child){
          margin-bottom: 10px;
        }
      }
    }
    &__art{
      margin-top: 46px;
      &-title{
        text-align: center;
        font-size: 16px;
        line-height: 150%;
      }
      &-img{
        img{
          max-height: 42px;
        }
      }
    }
    &__img{
      position: fixed;
      left: -100vh;
      top: -100vh;
      z-index: 10;
    }
    &__art{
      &-img{
        &:not(:last-child){
          margin-right: 3em;
        }
      }
    }
    &__list{
      margin-top: 65px;
      max-width: 100%;
      li{
        font-size: 16px;
        line-height: 150%;
        &::before{
          width: 27px;
          height: 27px;
        }
        &:not(:last-child){
          margin-bottom: 20px;
        }
      }
      &-icon{
        width: 25px;
        padding-top: 1px;
      }
    }
    &__btn{
      width: 100%;
      height: 62px;
      font-size: 20px;
      margin: 30px 0 0;
    }
  }

  .adv{
    overflow: hidden;
    padding: 20px 0 0;
    &__slider{
      margin-bottom: 10px;
    }
    &__item{
      padding: 0 30px;
      border-radius: 5px;
      font-size: 20px;
      height: 60px;
      img{
        margin-right: 10px;
        max-width: 30px;
      }
    }
  }

  .find{
    padding: 4em 0;
    &__question{
      font-size: 26px;
      span{
        font-size: inherit;
      }
    }
    &__num{
      font-size: 90px;
    }
    &__desc{
      font-size: 16px;
      line-height: 150%;
      margin-top: 15px;
    }
    &__title{
      font-size: 26px;
      margin-top: 59px;
    }
    &__brands{
      display: block;
    }
    &__search{
      max-width: 100%;
      width: 100%;
      input {
        height: 62px;
        font-size: 20px;
        background-size:22px auto,cover;
        background-position: 15px center, 0 0;
        padding: 0 20px 0 50px;
        border-radius: .5em;
      }
      &-link{
        display: none;
      }
      &-btn{
        position: static;
        font-size: 14px;
        width: 100%;
        height: 45px;
        margin-top: 10px;
        transform: unset;
      }
    }
    &__btn{
      font-size: 20px;
      height: 62px;
      width: 100%;
      border-radius: .5em;
      margin-top: 20px;
    }
  }

  .why-choose{
    &__items{
      grid-template-columns:  1fr;
      gap: 20px;
    }
    &__desc{
      font-size: 16px;
      line-height: 150%;
    }
  }

  .why-choose{
    padding: 4em 0;
    &__items{
      gap: 90px;
    }
    &__item{
      padding: 15px;
    }
    &__desc{
      font-size: 16px;
    }
    &__icon{
      margin-bottom: 15px;
      max-width: 60px;
    }
  }

  .support{
    &__title{
      font-size: 40px;
    }
    &__slider{
      margin-top: 20px;
    }
    .swiper{
      &-wrapper{
      }
      &-slide{
        max-height: unset;
        width: unset;
      }
    }
    &__btn{
      font-size: 20px;
      height: 62px;
      width: 100%;
      border-radius: .5em;
      margin-top: 20px;
    }
  }

  .join{
    &__inner{
      flex-wrap: wrap;
    }
    &__title{
      text-align: center;
    }
    &__input{
      margin: 0;
      width: 100%;
      height: 62px;
      input{
        font-size: 16px;
      }
    }
    &__btn{
      height: 62px;
      width: 100%;
      margin: 10px 0 0;
      font-size: 14px;
    }
    &__text{
      width: 100%;
      max-width: 100%;
      margin-bottom: 2em;
    }
  }
}
