.result{
  padding-bottom: 10em;
  &__inner{
    margin-top: 5em;
    background: #F2F2F2;
    border-radius: 2.7em;
    overflow: hidden;
  }
  &__top{
    padding: 4.1em 3.3em;
  }
  &__statuses{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin-top: -1.3em;
  }
  &__status{
    font-family: $font3;
    font-size: 1.9em;
    height: 3em;
    padding: 0 1.9em;
    display: flex;
    align-items: center;
    border-radius: 1.54em;
    font-weight: 700;
    background: url(../img/btn-bg.png), radial-gradient(42.97% 33.23% at 69.77% 45.22%, rgba(255, 236, 67, 0.2) 17.19%, rgba(158, 150, 255, 0.108333) 66.15%, rgba(96, 140, 255, 0.172) 100%) /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */, linear-gradient(155.09deg, #557AFF 35.49%, rgba(255, 79, 227, 0.510417) 63.54%, rgba(255, 201, 120, 0.49) 91.02%);
    background-size: cover;
    margin: .7em .7em 0 0;
    &--red{
      background: $red;
      color: #fff;
    }
  }
  &__text{
    margin-top: 1em;
    padding-left: 4em;
    max-width: 65em;
  }
  &__title{
    span{
      display: block;
      color: inherit;
    }
  }
  &__desc{
    margin-top: 1em;
  }
}

.output{
  margin-top: 4em;
  padding-bottom: 2rem;
  &__grid1,
  &__grid2{
    display: grid;
    gap: 5.5em;
  }
  &__grid1{
    grid-template-columns: repeat(3,22em);
  }
  &__grid2{
    margin-top: 1.3em;
    grid-template-columns: auto 19em;
    padding-right: 1em;
  }
  &__col{
    position: relative;
    &:not(:last-child):before{
      content: '';
      position: absolute;
      height: 5.5em;
      width: 5.5em;
      left: 100%;
      top: 0;
      background-image: url(../img/chain.png);
      background-repeat: no-repeat;
      background-position: center;
      background-size: 3.7em auto;
    }
  }
  &__item{
    height: 2.9em;
    border-radius: 1.5em;
    padding-left: 1.4em;
    background: #222222;
    color: #fff;
    font-size: 1.9em;
    font-weight: 800;
    display: flex;
    align-items: center;
    position: relative;
  }
  &__year{
    position: absolute;
    display: flex;
    align-items: center;
    right: .6rem;
    &-btn{
      margin-left: .16em;
      width: .8em;
      height: .8em;
      background: #18AC00;
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
      font-family: $font4;
      color: #fff;
      font-weight: 700;
      font-size: 2.6em;
    }
    .year-minus{
      span{
        transform: translateY(-8%);
      }
    }
  }
  &__hint{
    line-height: 150%;
    margin-top: .61em;
    padding-left: 1.8em;
  }
  .faq__hint{
    margin-top: 2em;
    padding-left: .2em;
  }
}

.faq{
  background: #222222;
  color: #fff;
  padding: 4.1em 4.1em 3.1em 7em;
  &--ens{
    padding: 4em;
    .faq__bottom{
      justify-content: space-between;
      margin: 0;
    }
  }
  &__grid{
    margin-top: 3em;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 5em;
  }
  &__subtitle{
    font-weight: 800;
    font-size: 1.9em;
    line-height: 120%;
    margin-bottom: 1em;
  }
  &__bottom{
    margin-top: 3em;
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }
  &__hint{
    display: flex;
    align-items: center;
    margin-right: 1em;
    color: $red;
    &-icon{
      flex-shrink: 0;
      width: 1.8em;
      margin-right: 0.4em;
      img{
        width: 100%;
      }
    }
  }
  &__btn{
    font-size: 1.9em;
    height: 3em;
    padding: 0 1.8em;
    border-radius: .5em;
    font-weight: 700;
  }
  &__info{
    &-title{
      padding-left: 2.2em;
      margin-bottom: .25em;
    }
  }
}


@media screen and (max-width: 576px){
  .result{
    border-radius: 10px;
    &__inner{
      margin-top: 10px;
    }
    &__statuses{
      margin-top: -14px;
    }
    &__status{
      height: 62px;
      padding: 0 35px;
      font-size: 20px;
      margin: 14px 14px 0 0;
    }
    &__top{
      padding: 15px 20px;
    }
    &__text{
      padding-left: 0;
      margin-top: 15px;
    }
    &__desc{
      margin-top: 10px;
    }
  }

  .faq{
    padding: 15px 20px;
    &__grid{
      grid-template-columns: 100%;
      gap: 25px;
      margin-top: 25px;
    }
    &__subtitle{
      font-size: 18px;
      margin-bottom: 8px;
    }
    &__bottom{
      display: block;
    }
    &__hint{
      margin: 0 0 15px;
      &-icon{
        width: 29px;
        margin-right: 6px;
      }
    }
    &__btn{
      width: 100%;
      height: 62px;
      font-size: 20px;
      padding: 0;
    }
    &__info{
      &-title{
        padding-left: 35px;
        margin-bottom: 4px;
      }
    }
  }

  .output{
    margin-top: 20px;
    &__grid1,
    &__grid2{
      grid-template-columns: 100%;
      gap: 20px;
    }
    &__col{
      &::before{
        display: none !important;
      }
    }
    &__item{
      padding: 12px 20px;
      font-size: 18px;
      min-height: 62px;
      height: unset;
      border-radius: 30px;
    }
    &__hint{
      margin-top: 10px;
      padding-left: 20px;
    }
    .faq__hint{
      margin-top: 25px;
      padding-left: 5px;
    }
  }
}
