@import "../vars";
.statistic{
  &__inner{
    display: grid;
    grid-template-columns: 1fr 2.3fr;
    gap: 3em;
    margin-bottom: 15em;
  }
  &__left{
    padding-top:6.4em;
  }
  &__subtitle{
    font-size: 2.4em;
    margin-bottom: .4em;
  }
  &__title{
    font-weight: 800;
    font-size: 5.5em;
    line-height: 95%;
    span{
      color: $red;
    }
  }
  &__desc{
    font-size: 1.53em;
    line-height: 137.5%;
    margin-top: 2.5em;
    max-width:24em;
    width: 100%;
  }
  &__btn{
    width: 100%;
    height: 3em;
    font-size: 1.9em;
    border-radius: .5em;
    margin-top: 7em;
  }
}

.quiz{
  overflow: hidden;
  position: relative;
  &__step{
    padding: 5.5em 6.5em 3em;
    border-radius: 1em;
    background: #2C2C2C;
    display: flex;
    flex-direction: column;
    transition: all .4s;
  }
  &__step2{
    position: absolute;
    top: 0;
    right: -100%;
    min-height: 100%;
    width: 100%;
    z-index: 3;
    &--active{
      right: 0;
    }
    .quiz__bottom{
      margin-top: auto;
      padding-top: 3em;
    }
    .quiz__btn{
      width: 11em;
    }
  }
  &__title{
    color: #FFFFFF;
  }
  &__table{
    height:26.125em;
    overflow-y:auto;
    margin-bottom:1em;
    margin-top: 1em;
  }
  &__row{
    display: flex;
    align-items: center;
    &:not(:last-child){
      margin-bottom: 1.6em;
    }
    &:nth-child(even){
      .quiz__info{
        background: #F9F9F9;
      }
    }
  }
  &__info{
    padding: 10px 0;
    border-radius: 10px;
    height: 46px;
    flex-grow: 1;
    font-size: 1.5em;
    background: #C8C7FF;
    display: grid;
    grid-template-columns: 1.7fr 1fr 1.4fr 2fr;
    &-item{
      padding: 0 1.6em;
      display: flex;
      align-items: center;
      &:not(:last-child){
        border-right: 1px solid $black;
      }
    }
  }
  &__bottom{
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  &__link{
    color: rgba(255, 255, 255, 0.5);
    font-size: 1.9em;
  }
  &__btn{
    font-weight: 700;
    font-family: $font3;
    width: 9em;
    height: 3em;
    font-size: 1.9em;
    border-radius: .5em;
  }
  &__form{
    margin-top: 4em;
  }
  &__fg{
    label{
      display: block;
      margin-bottom: 1.3em;
      color: #fff;
      font-size: 1.2em;
    }
    input{
      font-size: 1.5em;
      height: 3.8em;
      background-color: #fff;
      color: $black;
      border: none;
      &:focus{
        background: #4F4F4F;
        box-shadow: 0px 0px 10px rgba(28, 146, 255, 0.25);
        color: #FFE600;
      }
    }
    &:not(:last-child){
      margin-bottom: 3.1em;
    }
  }
  &__fg_error{
  
    input{
      font-size: 1.5em;
      height: 3.8em;
      background-color: #fff;
      color: $black;
      border: 2px solid red;
    }
    &:not(:last-child){
      margin-bottom: 3.1em;
    }
  }
}

@media screen and (max-width: 576px){
  .statistic{
    &__inner{
      grid-template-columns: 100%;
      margin-bottom: 50px;
    }
    &__left{
      padding: 0;
    }
    &__title{
      font-size: 40px;
    }
    &__desc{
      font-size: 16px;
      max-width: 100%;
      margin-top: 20px;
    }
    &__btn{
      margin-top: 30px;
    }
  }

  .quiz{
    &__step{
      padding: 20px;
    }
    &__step2{
      .quiz__bottom{
        margin-top: 30px;
      }
      .quiz__btn{
        width: 100%;
      }
    }
    &__title{
      font-size: 40px;
    }
    &__form{
      margin-top: 25px;
    }
    &__fg{
      &:not(:last-child){
        margin-bottom: 20px;
      }
      label{
        font-size: 13px;
        margin-bottom: 7px;
      }
      input{
        height: 55px;
      }
      .fg__badge{
        height: 35px;
        bottom: 10px;
        font-size: 12px;
        min-width: 130px;
        padding: 0 5px;
      }
    }
    &__bottom{
      display: block;
      margin-top: 30px;
    }
    &__link{
      font-size: 16px;
    }
    &__btn{
      margin-top: 30px;
      width: 100%;
      height: 62px;

      font-size: 16px;
    }
    &__table{
      margin-top: 20px;
    }
    &__info{
      padding: 10px;
      grid-template-columns: 100%;
      gap: 10px;
      height: unset;
      &-item{
        padding: 0;
        font-size: 16px;
        border: none !important;
      }
    }
  }
}
.error-field{
  border:2px solid red;
}
