@import "../vars";
.footer{
  padding: 4em 0;

  margin-top: 4em;
  &__inner{
    padding-left: 39.5em;
    position: relative;
  }
  &__img{
    position: absolute;
    bottom: -4em;
    left: -15em;
    width: 65.5em;
    display: block;
    pointer-events: none;
  }
  &__wrap{
    display: flex;
    justify-content: space-between;
    margin-top: 6.4em;
  }
  &__col{
    display: flex;
    flex-direction: column;
  }
  &__links{
    display: grid;
    grid-template-columns: 100%;
    gap: 1.5em;
  }
  &__link{
    font-size: 1.5em;
    line-height: 138%;
  }
  &__link2{
    font-size: 1.2em;
    padding-top: 5.5em;
    margin-top: auto;
    color: #5B5B5B;
  }
}

@media screen and (max-width: 576px){
  .footer{
    margin: 0;
    padding: 20px 0;
    &__img{
      display: none;
    }
    &__wrap{
      display: block;
      margin-top: 25px;
    }
    &__links{
      gap: 15px;
    }
    &__link,
    &__by{
      font-size: 14px;
    }
    &__link2{
      padding: 15px 0;
      font-size: 14px;
    }
    &__inner{
      padding: 0;
      display: block;
    }

  }
}
