@import "../vars";
.footer{
  padding: 4em 0;
  margin-top: 4em;
  &--bg{
    padding-top: 12em;
    background-image: url(../img/bg5.png);
    background-size: cover;
  }
  &__inner{
    padding-left: 39.5em;
    position: relative;
  }
  &__img{
    position: absolute;
    bottom: -4em;
    left: -15em;
    width: 65.5em;
    display: block;
    pointer-events: none;
  }
  &__wrap{
    display: flex;
    justify-content: space-between;
    margin-top: 6.4em;
    display: none;
  }
  &__col{
    display: flex;
    flex-direction: column;
  }
  &__links{
    margin-top: 6.4em;
    column-count: 3;
    column-gap: 1.5em;
  }
  &__link{
    font-size: 1.5em;
    line-height: 138%;
    display: block;
    margin-bottom: 1.5em;
  }
  &__links2{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin-top: 5.5em;
    gap: 2em;
  }
  &__link2{
    font-size: 1.2em;
    //padding-top: 5.5em;
    //margin-top: auto;
    color: #5B5B5B;
  }
}

@media screen and (max-width: 576px){
  .footer{
    margin: 0;
    padding: 45px 0;
    background: #eaeaea;
    &:before{
      display: none;
    }
    &__logo{
      position: absolute;
      bottom: 4px;
      left: 0;
    }
    &__img{
      display: none;
    }
    &__links{
      column-count: 2;
      margin-top: 0;
    }
    &__link,
    &__by{
      font-size: 16px;
      line-height: 138%;
    }
    &__link{
      margin-bottom: 0;
      &:not(:last-child){
        margin-bottom: 26px;
      }
    }
    &__links2{
      padding-left: 100px;
      display: block;
      margin-top: 69px;
    }
    &__link2{
      font-size: 13px;
      line-height: 169%;
      &--none{
        display: none;
      }
    }
    &__inner{
      padding: 0;
      display: block;
    }

  }
}
