<div class="modal" id="quickOrder" aria-hidden="true">
    <div class="modal-dialog">
        <button type="button" class="modal__close" data-bs-dismiss="modal" aria-label="Close">
            <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" clip-rule="evenodd" d="M9.55401 10.5L2 2.94599L2.94599 2L10.5 9.55401L18.054 2L19 2.94599L11.446 10.5L19 18.054L18.054 19L10.5 11.446L2.94599 19L2 18.054L9.55401 10.5Z" fill="#333333"/>
            </svg>
        </button>



    </div>
</div>


<!-- <div class="modal-backdrop show"></div> -->