<div class="adv__slider swiper-container">
        <div class="swiper-wrapper">
            <a class="swiper-slide adv__item">
                <img src="img/adv-icon.png" alt="">
                <span>mercedes-benz.art</span>
            </a>
            <a class="swiper-slide adv__item">
                <img src="img/adv-icon.png" alt="">
                <span>absolut.art</span>
            </a>
            <a class="swiper-slide adv__item">
                <img src="img/adv-icon.png" alt="">
                <span>porsche.art</span>
            </a>
            <a class="swiper-slide adv__item">
                <img src="img/adv-icon.png" alt="">
                <span>kickstarter.art</span>
            </a>
            <a class="swiper-slide adv__item">
                <img src="img/adv-icon.png" alt="">
                <span>bofa.art</span>
            </a>
            <a class="swiper-slide adv__item">
                <img src="img/adv-icon.png" alt="">
                <span>iphone.art</span>
            </a>
            <a class="swiper-slide adv__item">
                <img src="img/adv-icon.png" alt="">
                <span>amazon.art</span>
            </a>
        </div>
    </div>
