<div class="container">
        <div class="footer__inner">
            <img src="img/man2.png" alt="" class="footer__img">
            <a href="" class="footer__logo">
                <img src="img/logo2.png" alt="">
            </a>
            <div class="footer__links">
                <a target="_blank" href="https://art.art/what-is-art" class="footer__link">About .art</a>
                <a target="_blank" href="https://art.art/ulvi-kasimov" class="footer__link">Our Team</a>
                <a target="_blank" href="https://art.art/community" class="footer__link">Community</a>
                <a target="_blank" href="https://art.art/where-to-buy" class="footer__link">Where to buy</a>
                <a target="_blank" href="https://art.art/news" class="footer__link">News</a>

                <a target="_blank" href="https://get.art/en?_ga=2.118713549.574593762.1659710559-1296190147.1659382135" class="footer__link">Domains</a>
                <a target="_blank" href="https://get.art/en/popup-website-builder?_ga=2.75703505.574593762.1659710559-1296190147.1659382135" class="footer__link">Sitebuilder</a>
                <a target="_blank" href="https://get.art/en/business.php?_ga=2.75703505.574593762.1659710559-1296190147.1659382135" class="footer__link">Business Email</a>
                <a target="_blank" href="https://art.art/special-terms" class="footer__link">Special Discounts</a>
                <a target="_blank" href="https://art.art/school-program" class="footer__link">School Program</a>

                <a target="_blank" href="https://art.art/faq" class="footer__link">FAQ</a>
                <a target="_blank" href="http://nic.art/" class="footer__link">Registrar portal</a>
                <a target="_blank" href="https://art.art/contact" class="footer__link">Contacts us</a>
            </div>

            <div class="footer__links2">
                <a href="/terms" class="footer__link2 footer__link2--none">Terms & Conditions</a>
                <a href="/policy" class="footer__link2 footer__link2--none">Policies</a>
                <a class="footer__link2" style="cursor: default;">Creative ideas Limited LLC C 2022</a>
            </div>
        </div>
        <div class="hidden">
<script id="CookieDeclaration" src="https://consent.cookiebot.com/3645ce48-203b-4018-8d1a-cc6c773d0e96/cd.js" type="text/javascript" async></script>
</div>
    </div>
