<div class="container">
        <div class="footer__inner">
            <img src="img/man2.png" alt="" class="footer__img">
            <a href="" class="footer__logo">
                <img src="img/logo2.png" alt="">
            </a>
            <div class="footer__links">
                <a href="" class="footer__link">About .art</a>
                <a href="" class="footer__link">Our Team</a>
                <a href="" class="footer__link">Community</a>
                <a href="" class="footer__link">Where to buy</a>
                <a href="" class="footer__link">News</a>

                <a href="" class="footer__link">Domains</a>
                <a href="" class="footer__link">Sitebuilder</a>
                <a href="" class="footer__link">Business Email</a>
                <a href="" class="footer__link">Special Discounts</a>
                <a href="" class="footer__link">School Program</a>

                <a href="" class="footer__link">FAQ</a>
                <a href="" class="footer__link">Register Portal</a>
                <a href="" class="footer__link">Contacts us</a>
            </div>

            <div class="footer__links2">
                <a href="" class="footer__link2 footer__link2--none">Terms & Conditions</a>
                <a href="" class="footer__link2 footer__link2--none">Policies</a>
                <a href="" class="footer__link2">Creative ideas Limited LLC C 2022</a>
            </div>
        </div>
    </div>
