<html lang="@@lang">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gems Town</title>
    <meta name="description" content="NFT marketplace">
    <meta property="og:url" content="https://gems.town/">
    <meta property="og:type" content="website">
    <meta property="og:title" content="Gems Town">
    <meta property="og:description" content="Multichain NFT Marketplace for artists, web3 games and collectors. Create collection or import existing NFTs. Free mint and staking.">
    <meta property="og:image" content="https://gems.town/img/preview.png">
    <meta name="twitter:card" content="summary_large_image">
    <meta property="twitter:domain" content="">
    <meta property="twitter:url" content="https://gems.town/">
    <meta name="twitter:title" content="Gems Town">
    <meta name="twitter:description" content="Multichain NFT Marketplace for artists, web3 games and collectors. Create collection or import existing NFTs. Free mint and staking.">
    <meta name="twitter:image" content="https://gems.town/img/preview.png">
    <meta name="keywords" content="@@keywords">
    <link rel="stylesheet" href="css/libs.min.css">
    <link rel="stylesheet" href="css/style.min.css">
    <!-- Google Tag Manager -->
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
            new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
        j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
        'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-TKX5RB7');</script>
    <!-- End Google Tag Manager -->

</head>
