<div class="container">
    <form class="join__inner">
        <div class="join__text">
            <div class="join__title display2">Don’t miss a thing with our newsletter</div>
        </div>
        <div class="join__input fg">
            <input type="text" id="subscriber_email" placeholder="Type your email">
        </div>
        <button onclick="addEmail(event)" class="join__btn mbtn mbtn-black arrow-right">
            <span class="arrow-right__text">Sign up</span>
            <span class="arrow-right__icon">→</span>
        </button>
    </form>
</div>
