<div class="keyboard">
    <div class="keyboard__grid">
        <div class="keyboard__item">a</div>
        <div class="keyboard__item">b</div>
        <div class="keyboard__item">c</div>
        <div class="keyboard__item">d</div>
        <div class="keyboard__item">e</div>
        <div class="keyboard__item">f</div>
        <div class="keyboard__item">g</div>
        <div class="keyboard__item">h</div>
        <div class="keyboard__item">i</div>
        <div class="keyboard__item">😀</div>
        <div class="keyboard__item">😃</div>
        <div class="keyboard__item">😄</div>
        <div class="keyboard__item">😁</div>
        <div class="keyboard__item">😆</div>
        <div class="keyboard__item">😅</div>
        <div class="keyboard__item">🤣</div>
        <div class="keyboard__item">😂</div>
        <div class="keyboard__item">🙂</div>

        <div class="keyboard__item">j</div>
        <div class="keyboard__item">k</div>
        <div class="keyboard__item">l</div>
        <div class="keyboard__item">m</div>
        <div class="keyboard__item">n</div>
        <div class="keyboard__item">o</div>
        <div class="keyboard__item">p</div>
        <div class="keyboard__item">q</div>
        <div class="keyboard__item">r</div>
        <div class="keyboard__item">🙃</div>
        <div class="keyboard__item">☃</div>
        <div class="keyboard__item">⛄</div>
        <div class="keyboard__item">☄</div>
        <div class="keyboard__item">🔥</div>
        <div class="keyboard__item">💧</div>
        <div class="keyboard__item">🌊</div>
        <div class="keyboard__item">🎃</div>
        <div class="keyboard__item">🎄</div>

        <div class="keyboard__item">s</div>
        <div class="keyboard__item">t</div>
        <div class="keyboard__item">u</div>
        <div class="keyboard__item">v</div>
        <div class="keyboard__item">w</div>
        <div class="keyboard__item">x</div>
        <div class="keyboard__item">y</div>
        <div class="keyboard__item">z</div>
        <div class="keyboard__item">!</div>
        <div class="keyboard__item">🎆</div>
        <div class="keyboard__item">🎇</div>
        <div class="keyboard__item">🧨</div>
        <div class="keyboard__item">✨</div>
        <div class="keyboard__item">🎈</div>
        <div class="keyboard__item">🎉</div>
        <div class="keyboard__item">🎊</div>
        <div class="keyboard__item">🎋</div>
        <div class="keyboard__item">🎍</div>

           ️  ️️
    </div>
</div>
<div class="keyboard__top">
    <button class="keyboard__btn mbtn mbtn-linear">
        <span>Open Emoji Keyboard</span>
        <img src="img/keyboard.png" alt="">
    </button>
    <div class="keyboard__desc">You can use Emoji in your .art ENS domain name (not compatible with DNS)</div>
</div>
